body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  background-size: fill;
  background-repeat: no-repeat;
  background: url('https://imgs.smoothradio.com/images/314046?crop=16_9&width=660&relax=1&format=webp&signature=9FDICvtTSvF6hY9Fexs7q1nTUHc=');
}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #392186;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  color: #f1be32;
  font-family: 'Lobster', cursive;
}

.person__link {
  display: inline;
  margin-top: 10px;
}

#img-div {
  margin-bottom: 20px;
}

#mj-image {
  display: block;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border: 5px solid #f1be32;
}

#img-caption {
  font-style: italic;
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  color: #d872fa;
  font-family: 'Palatino', cursive;
}

#tribute-info {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #fcfcfc;
  font-family: 'Courier', cursive;
}

#tribute-link {
  display: inline-block;
  background-color: blue;
  color: #ffffff;
  padding: 10px 20px;
  margin: 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#tribute-link:hover {
  background-color: purple;
}

#image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

#video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

#video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  #main {
    max-width: 1000px;
  }

  #title {
    font-size: 36px;
  }
}
